.ql-picker.ql-mobile-view {
    width: 108px;
}

.ql-picker.ql-mobile-view > .ql-picker-label:before {
    content: '100%';
}

.ql-picker.ql-mobile-view > .ql-picker-label[data-value="s1"]:before {
    content: '320 x 568';
}

.ql-picker.ql-mobile-view > .ql-picker-label[data-value="s2"]:before {
    content: '360 x 640';
}

.ql-picker.ql-mobile-view > .ql-picker-label[data-value="s3"]:before {
    content: '375 x 667';
}

.ql-picker.ql-mobile-view > .ql-picker-label[data-value="s4"]:before {
    content: '375 x 812';
}

.ql-picker.ql-mobile-view > .ql-picker-label[data-value="s5"]:before {
    content: '411 x 731';
}

.ql-picker.ql-mobile-view > .ql-picker-label[data-value="s6"]:before {
    content: '414 x 736';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="s1"]:before {
    content: '320 x 568';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="s2"]:before {
    content: '360 x 640';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="s3"]:before {
    content: '375 x 667';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="s4"]:before {
    content: '375 x 812';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="s5"]:before {
    content: '411 x 731';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="s6"]:before {
    content: '414 x 736';
}

.ql-picker.ql-mobile-view .ql-picker-options .ql-picker-item[data-value="normal"]:before {
    content: '100%';
}